<li class="protest">
	<div class="row">
		<div class="large-12 columns">
			<div class="info-1">
				<div class="circle <%= protest.state.downcase %>"><%= protest.state %></div>
				<h3 class="protest-heading"><%= link_to truncate(protest.title, length: 130), protest %></h3>
			</div><!-- info-1 -->
		</div>
	</div><!-- row -->
	<div class="row">
		<div class="large-12 columns">
			<div class="info-2">

			</div><!-- info-2 -->
		</div><!-- large-12 cols -->
	</div><!-- row -->
	<div class="row">
		<div class="large-12 columns">
			<div class="info-3">
				test
			</div><!-- info-3 -->
		</div><!-- large-12 cols -->
	</div><!-- row -->
</li>
