<% provide(:title, 'Admin Control Panel | Protest Australia') %>
<h1>Admin Control Panel</h1>

<div class="admin-control-panel">
   <%= link_to protests_path(visible: false) do %>
      <i class="fa fa-asterisk"></i>Hidden protests
   <% end %>

</div>
