<% provide(:title, 'Protest Australia') %>

<div id="container-frontpage">
	<header class="header-frontpage">
		<h1 class="front-page">Protest Australia</h1>
		<div class="authorisation">
			<div class="button">Register</div><div class="button">Sign In</div>
		</div>
	</header>



	<div class="bottom">
		<div class="recent-protests">
			<div class="protest-front-page protest-1">Protest 1</div>
			<div class="protest-front-page protest-2">Protest 2</div>
			<div class="protest-front-page protest-1">Protest 3</div>
			<div class="protest-front-page protest-2">Protest 4</div>
			<div class="protest-front-page protest-1">Protest 5</div>

		</div>
		<nav id="frontpage-nav">
				<div class="menu-item-1" id="purple-menu-item">
					<div class="menu-item-content">
						<div class="icon"><span class="helper"></span><%= image_tag("protest_icon.png", alt: "Protest sign icon", id: "protest-icon") %></div>
						<span class="menu-item-text">Protests</span>
					</div>
				</div>
				<div class="menu-item-1" id="blue-menu-item">
					<div class="menu-item-content">
						<div class="icon"><i class="fa fa-plus"></i></div>
						<span class="menu-item-text">Add a Protest</span>
					</div>
				</div>
				<div class="menu-item-2" id="green-menu-item">
					<div class="menu-item-content">
						<div class="icon"><i class="fa fa-user"></i></div>
							<span class="menu-item-text">My Protests</span>
					</div>
				</div>
				<div class="menu-item-1" id="yellow-menu-item">
					<div class="menu-item-content">
							<div class="icon"><i class="fa fa-link"></i></div>
								<span class="menu-item-text">Related Sites</span>
					</div>
				</div>
				<div class="menu-item-1" id="orange-menu-item">
					<div class="menu-item-content">
							<div class="icon"><i class="fa fa-info"></i></div>
						<span class="menu-item-text">About Us</span>
					</div>
				</div>
				<div class="menu-item-2" id="red-menu-item">
					<div class="menu-item-content">
						<div class="icon"><i class="fa fa-envelope-o"></i></div>
							<span class="menu-item-text">Contact Us</span>
					</div>
				</div>
		</nav>
	</div>

</div>
