<% provide(:title, 'Related Websites | Protest Australia') %>

<h1>Related Websites also created by Rebecca Cordingley</h1>

<div class="row">
	<div class="large-6 columns">
		<%= image_tag("contactmymp_screenshot.jpg", size: "480x300", alt: "Contact My MP Australia Screenshot", class: "centered-contents screenshot") %>
		<br>
		<h3 class="subheading centered-contents"><a href="http://www.contactmymp.com" target="_blank">Contact My MP Australia</a></h3>
		<p>
			Contact My MP allows you to find and <a href="http://www.contactmymp.com" target="_blank">email federal Australian politicians</a>. It also provides all other contact information for each MP and Senator, including phone, post, email, Twitter &amp; Facebook.
		</p>
	</div>

	<div class="large-6 columns">
		<%= image_tag("pollietweets_screenshot.jpg", size: "480x300", alt: "PollieTweets Screenshot", class: "centered-contents screenshot") %>
		<br>
		<h3 class="subheading centered-contents"><a href="http://www.pollietweets.com" target="_blank">PollieTweets</a></h3>
		<p>
			PollieTweets aggregates <a href="http://www.pollietweets.com" target="_blank">Australian politicians' most recent tweets</a> and displays them by state/territory and chamber. 
		</p>
	</div>
</div>