@font-face {
   font-family: Mohave;
   src: url(../fonts/mohave.otf);
}

@mixin Helvetica {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 200;
}
@mixin OpenSans {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

@mixin Mohave {
   font-family: 'Mohave';
}

$orange: #f17a36;
$yellow: #ffcc00;
$green: #16b183;
$pale_blue: #14b9d5;
$dark_blue: #323a45;
$cream: #e5d6a7;

$purple: #674fb1;
$red: #d54343;
$maroon: #590902;

$white: #f2f2eb;
$charcoal: #282828;
$dark_grey: #444444;
$med_grey: #a2a2a2;
$pale_grey: #cccccc;

html{
   width: 100%;
   min-height: 100%;
   margin: 0;
}
body {
   margin: 0;
   height: 100%;
   width: 100%;
}

.clear {
   clear: both;
}

.main-content {
   position: absolute;
   top: 50px;
   left: 150px;
   width: calc(100% - 150px);
   height: auto;
}
h2.front-page-title {
   @include Mohave;
   font-size: 5.5em;
   color: $dark_grey;
   text-align: center;
   position: relative;
   top: 100px;
   letter-spacing: 2px;
}

/* ********** Buttons ********** */

.nav-buttons {
   width: 150px;
   position: absolute;
   margin-top: 100px;

   .nav-item {
      width: 150px;
      height: 150px;
      color: $dark_grey;
      text-align: center;
      display: block;
      position: relative;
      .nav-item-text {
         @include Helvetica;
         font-size: 1em;
         color: $dark_grey;
         letter-spacing: 1px;
      }

      .menu-item-content {
         height: 140px;
         width: 150px;
         display: block;
         overflow: auto;
         margin: auto;
         position: absolute;
         top: 0; left: 0; bottom: 0; right: 0;
         color: $dark_grey;
         .icon {
            height: 100px;
            width: 100px;
            margin: 10px auto;
            border-radius: 50%;
            background: url('dotted_background_76percent.png');

            .helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            img#protest-icon {
               vertical-align: middle;
               width: 64px;
            }
            i {
               line-height: 100px;
               font-size: 4em;
               color: rgba(250,250,250,0.7);
            }
            i.green {
               color: $green;
            }
            i.purple {
               color: $purple;
            }
            i.red {
               color: $red;
            }
            i.pale-blue {
               color: $pale_blue;
            }
            i.yellow {
               color: $yellow;
            }
            i:hover {
               color: rgba(251,251,251,0.4);
            }
         }
            a:link.menu-item-text,
            a:visited.menu-item-text,
            a:hover.menu-item-text,
            a:active.menu-item-text {
               font-weight: 400;
               text-shadow: 1px 0 0 #444;
               font-size: 1em;
               letter-spacing: 1px;
               color: $dark_grey;
               text-decoration: none;
            }
      }
   }
}



/* ********** End of Buttons ********** */





/* ********** Front Page Recent Protests ********** */

   .recent-protests {
      display: block;
      width: 585px;
      height: 390px;
      margin: 0 auto;
      position: relative;
      top: 60px;
      .recent-protests-heading {
         @include Helvetica;
         font-size: 1.1em;
         margin-bottom: 8px;
      }

      .protest-front-page {
         width: 180px;
         height: 180px;
         display: inline-block;
         float: left;
         position: relative;
         color: $white;
         margin: 0 15px 15px 0;
      }

      .recent-protest-box:first-child {
         background-color: #006699;
      }
      .recent-protest-box:nth-child(6) {
         background-color: #006699;
      }
      .recent-protest-box:nth-child(2),
      .recent-protest-box:nth-child(5) {
         background-color: #3399cc;
      }
      .recent-protest-box:nth-child(3),
      .recent-protest-box:nth-child(4) {
         background-color: #3399ff;
      }
      .recent-protest-box {
         text-align: center;
         @include Helvetica;
         font-size: 0.9em;
         .recent-protest-date {
            position: absolute;
            top: 10px; left: 60px;
            color: $white;
         }
         .recent-protest-details {
            position: absolute;
            left: 20px;
            color: $white;
            margin-top: 15px;
            font-size: 0.9em;
         }

         .state-box {
            position: relative;
            top: 10px;
            left: 10px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            @include Helvetica;
            color: #333;
            font-size: 1em;
            text-align: center;
            text-transform: uppercase;
            background-color: rgba(251,251,251,0.5);
         }


         .act {
            background-color: $orange;
         }
         .nsw {
            background-color: lighten($dark_blue, 20%);
         }
         .nt {
            background-color: $maroon;
         }
         .qld {
            background-color: $red;
         }
         .sa {
            background-color: $green;
         }
         .tas {
            background-color: $pale_blue;
         }
         .vic {
            background-color: $yellow;
         }
         .wa {
            background-color: $purple;
         }

      }
}
#red-menu-item {
   background-color: #ff6666;
   content: "";
}
#orange-menu-item {
   background-color: #ff9966;
   content: "";
}
#yellow-menu-item {
   background-color: #ffcc66;
   content: "";
}
#green-menu-item {
   background-color: #66cc99;
   content: "";
}
#blue-menu-item {
   background-color: #448ccb;
   content: "";
}
#purple-menu-item {
   background-color: #6666cc;
   content: "";
}
