@mixin Helvetica {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 200;
}
@mixin OpenSans {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

$orange: #f17a36;
$yellow: #f3cd36;
$green: #16b183;
$pale_blue: #14b9d5;
$dark_blue: #323a45;
$cream: #e5d6a7;

.justify {
	text-align: justify;
}
.strong {
 	font-weight: bold;
 }

 h3.subheading {
 	@include OpenSans;
 	font-size: 1.5em;
 	color: #444;
 }

 h3.protest-heading {
 	@include OpenSans;
 	font-size: 1.1em;
 	color: $dark_blue;
 	font-weight: 600;
 	margin: 15px 0;
 }

.inline-block {
 	display: inline-block;
 }

 .centered-contents {
 	display: block;
 	width:90%;
    margin: 0 auto;
    text-align: center;
 }


.box {
	width: 90%;
	height: auto;
	display: block;
	margin: 30px auto;
	padding: 15px;
}

.grey-background {
	background-color: #ddd;
}


/* ********** will_paginate ********** */

.pagination {
  margin-top: 50px;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    color: #fff;
    background-color: #444;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

/* ********** end will_paginate ********** */
