@mixin Helvetica {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 200;
}
@mixin OpenSans {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/font-awesome/fontawesome-webfont.eot);
    src: url(../fonts/font-awesome/font-awesome/webfont.svg);
    src: url(../fonts/font-awesome/font-awesome/webfont.ttf);
    src: url(../fonts/font-awesome/font-awesome/webfont.woff);
}

$orange: #f17a36;
$yellow: #f3cd36;
$green: #16b183;
$pale_blue: #14b9d5;
$dark_blue: #323a45;
$cream: #e5d6a7;

$purple: #674fb1;
$red: #d54343;
$maroon: #590902;

$white: #fdfdfd;
$dark_grey: #444444;
$med_grey: #a2a2a2;
$pale_grey: #cccccc;
$charcoal: #282828;

$menu-yellow: #f3bf28;


* { margin: 0; }

html {
    position: relative;
    min-height: 100%;
}
body {
   width: 100%;
   height: auto;
   min-height: 100%;
   overflow: auto;
   background-color: $white !important;

}
.container {
   top: 0;
   width: 100%;
   min-height: 100%;
   background-color: $white !important;

   .main-body { /* inside container on application layout */
      float: left;
      position: relative;
      left: 0;
      top: 50px;
      width: 100%;
      z-index: 0;
      margin: 0 0 100px 0;
   }
   h1 {
      @include OpenSans;
      font-size: 2em;
      color: $dark_grey;
      font-weight: 400;
      margin: 30px 0 50px 30px;
   }
   h2.top_header {
      font-size: 1.4em;
      margin: 0 0 0 30px;
      line-height: 50px;
      color: $white;
      @include Helvetica;
   }
   p {
      @include OpenSans;
      font-size: 1em;
      color: $charcoal;
      margin: 15px 0;
   }
   #message {
     width: 80%;
     max-width: 768px;
     margin: 10px auto;
     display: block;
     background-color: $cream;
     border: 1px solid #333;
     text-align: center;
     p {
        margin: 10px 0;
     }
   }


.inline_block {
   display: inline-block;
}
.strong {
    font-weight: bold;
 }


.justify {
	text-align: justify;
}
.strong {
 	font-weight: bold;
 }

.indent-20 {
   padding-left: 20px;
}

.dark-grey-text {
   color: $dark_grey;
      &:link    { color: $dark_grey; }  /* unvisited links */
      &:visited { color: $dark_grey; }  /* visited links   */
      a:hover   { color: $dark_grey; }  /* user hovers     */
      a:active  { color: $dark_grey; }  /* active links    */
}
.red-text {
   color: $red;
      &:link    { color: $red; }  /* unvisited links */
      &:visited { color: $dark_grey; }  /* visited links   */
      a:hover   { color: $red; }  /* user hovers     */
      a:active  { color: $red; }  /* active links    */
}
.yellow-text {
   color: $yellow;
      &:link    { color: $yellow; }  /* unvisited links */
      &:visited { color: $dark_grey; }  /* visited links   */
      a:hover   { color: $yellow; }  /* user hovers     */
      a:active  { color: $yellow; }  /* active links    */
}
.highlight {
   font-weight: 200;
   text-decoration: underline;
}
.strong {
   font-weight: 600;
}

 h3.subheading {
 	@include OpenSans;
 	font-size: 1.5em;
 	color: $charcoal;
 }

 h3.search {
    @include OpenSans;
    font-size: 1.5em;
    color: $dark_grey;
    display: inline-block;
}

 h3.protest-heading {
   font-family: 'Muli', sans-serif;
   font-size: 1.7em;
 	color: $white;
 	font-weight: 300;
 // 	margin: 45px 0;
    width: 100%;
   display: inline-block;
   text-align: center;
   a:link, a:visited, a:hover, a:active {
      padding-top: 10px;
      color: $white;
   }
 }

ul.disc-list { // display normal (disc) list style
   list-style: disc;
   li.red { // red list dot
      color: $red;
   }
}

#menu {
      float: left;
      width: auto;
}
#title {
   float: right;
   width: auto;
}
#logo {
   width: 75px;
   float: right;
}

#header-image {
   float: right;
   width: 60px;
   height: 60px;
   padding-right: 15px;
}

.inline-block {
 	display: inline-block;
 }

 .centered-contents {
 	display: block;
 	width: 90%;
   margin: 0 auto;
   text-align: center;
 }

.box {
   width: 100%;
  //  border: 1px solid #eee;
}
.box-90 {
   width: 90%;
}
.box, .box-90 {
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 15px;
}

.grey-background {
	background-color: #ddd;
}

.med-icon {
   font-size: 1.5em;
   display: inline-block;
   padding: 0 5px;
}

/* ********** will_paginate ********** */

.pagination {
  margin-top: 50px;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    color: #fff;
    background-color: $dark_grey;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

/* ********** end will_paginate ********** */



/* ********** form ********** */


form {
   /* Webkit */
   ::-webkit-input-placeholder {
      @include OpenSans;
      font-size: 1em;
      color: $pale_grey;
   }
   /* Firefox 4-18 */
   :-moz-placeholder {
      @include OpenSans;
      font-size: 1em;
      color: $pale_grey;
   }
   /* Firefox 19+ */
   ::-moz-placeholder {
      @include OpenSans;
      font-size: 1em;
      color: $pale_grey;
   }
   /* IE10+ */
   :-ms-input-placeholder {
      @include OpenSans;
      font-size: 1em;
      color: $pale_grey;
   }
   fieldset.fieldset {
      margin-bottom: 30px;
      border: 1px solid $dark_grey;
      padding: 20px;   }

   legend.legend {
     @include OpenSans;
     font-size: 1.5em;
     padding: 0.2em 0.5em;
     border:1px solid $dark_grey;
     color: $dark_grey;
     margin-right: 0.5em;
     background-color: $cream;
     }
   label {
      @include OpenSans;
      font-size: 1.1em;
      color: $dark_grey;
      display: block;
   }

   input[type="text"],
   input[type="email"],
   input[type="url"] {
      @include OpenSans;
      font-size: 1em;
      color: $dark_grey;
   }
   textarea {
      height: 300px;
      @include OpenSans;
      font-size: 1em;
      color: $dark_grey;
   }
   select {
      width: 100px;
      display: inline-block;
   }
}
   .buttons {
      input[type="submit"],
      button {
         width: 200px;
         background-color: #555;
         border: 0;
         color: #f2f2eb;
         @include OpenSans;
         font-size: 1.2em;
         padding: 10px 0;
         margin: 30px auto;
         display: inline-block;
         &:hover {
            background-color: #555;
         }
      }

   }



/* ********** end form ********** */
}
header.header {
   position: fixed;
   top: 0;
   width: 100%;
   height: 50px;
   background-color: $charcoal;
   border-bottom: 0;
   box-shadow: 0 0 0 0;
   a:link, a:visited, a:hover, a:active {
      color: $white;
   }
   .top-menu {
      position: absolute;
      top: 10px;
      right: 30px;
      vertical-align: top;
      float: right;
      .user-email {
         padding: 0 20px;
      }
      .button,
      .admin-button,
      .user-email {
         @include Helvetica;
         font-size: 1em;
         background-color: transparent;
         color: $white;
         display: inline-block;
      }
      .button {
         padding: 10px 20px;
         margin-right: 2px;
      }
      .admin-button {
         padding: 10px 0 10px 15px;
      }
      .button-small {
         padding: 0 5px;
         display: inline-block;
         i {
            color: $white;
            font-size: 1.3em;
         }
         .yellow-text {
            color: $yellow;
               &:link    { color: $yellow; }  /* unvisited links */
               &:visited { color: $dark_grey; }  /* visited links   */
               a:hover   { color: $yellow; }  /* user hovers     */
               a:active  { color: $yellow; }  /* active links    */
         }
      }

      .menu-top-right {
         padding-left: 40px;
         cursor: pointer;

         .dropdown-menu {
            display: none;
            width: 180px;
            height: auto;
            position: absolute;
            top: 40px;
            right: 0;
            list-style: none;
            .dropdown-menu-item {
               width: 180px;
               height: 40px;
               line-height: 40px;
               background: url('dotted_background_92percent.png');
               border-bottom: 1px solid rgba(251,251,251,0.2);
               position: relative;
               border-right: 10px solid $charcoal;
               .dropdown-left-box-icon {
                  position: relative;
                  left: 0px;
                  background-color: transparent;
                  width: 40px;
                  height: 40px;
                  display: inline-block;
                  text-align: center;
                  i {
                     color: transparent;
                     font-size: 1.7em;
                     line-height: 40px;
                  }
               }

               a:link, a:visited, a:hover, a:active {
                  color: $white;
                  @include Helvetica;
                  font-size: 1em;
                  text-decoration: none;
                  padding-left: 5px;
                  display: inline-block;
                  line-height: 40px;
                  vertical-align: top;
               }
            }
            .dropdown-menu-item:hover {
               .dropdown-left-box-icon {
                  -webkit-transition: background-color 0.3s !important;
                  -moz-transition: background-color 0.3s !important;
                  -ms-transition: background-color 0.3s !important;
                  -o-transition: background-color 0.3s !important;
                  transition: background-color 0.3s !important;
                  display: inline-block;
                  left: 0;
                  background-color: $pale_blue;
                  i {
                     -webkit-transition: color 0.3s !important;
                     -moz-transition: color 0.3s !important;
                     -ms-transition: color 0.3s !important;
                     -o-transition: color 0.3s !important;
                     transition: color 0.3s !important;
                     color: $white;
                     font-size: 1.7em;
                  }
               }
            }



            .dropdown-menu-item:last-child {
               border-bottom: 0;
            }
         }
      }
      .search-icon {
         cursor: pointer;
         .search-bar {
            display: none;
            width: 250px;
            height: 50px;
            position: absolute;
            top: 40px;
            background: url('dotted_background_92percent.png');
            border-bottom: 1px solid rgba(251,251,251,0.2);
         }
      }
   }
}

/* ********** Search Form ********** */

.search-form {
   height: 50px;
   display: inline-block;
   .search-box {
      width: 180px;
      height: 24px;
      margin: 13px 10px;
      @include Helvetica;
      font-size: 1em;
      color: $dark_grey;
      background-color: $white;
      display: inline-block;
   }
   input[type=submit] {
      display: inline-block;
      font-family: 'FontAwesome';
      color: $green;
      font-size: 1.5em;
      background-color: transparent;
      border: 0;
      height: 24px;
      margin: 12px 9px 12px 14px;
      padding: 1px;
      vertical-align: top;
   }
}
/* ********** End of Search Form ********** */


footer.footer {
   line-height: 50px;
   text-align: center;
   @include Helvetica;
   font-size: 0.8em;
   color: $dark_grey;
   position: absolute;
   left: 0;
   bottom: 0;
   height: 50px;
   width: 100%;
}
