@mixin Helvetica {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 200;
}
@mixin OpenSans {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

$orange: #f17a36;
$yellow: #f3cd36;
$green: #16b183;
$pale_blue: #14b9d5;
$dark_blue: #323a45;
$cream: #e5d6a7;

$purple: #674fb1;
$red: #d54343;
$maroon: #590902;

$white: #f2f2eb;
$dark_grey: #444444;
$med_grey: #a2a2a2;
$pale_grey: #cccccc;
$charcoal: #282828;

@media (min-width: 1024px) {
   .protest:first-child {
      background-color: #006699;
   }
   .protest:nth-child(6),
   .protest:nth-child(7),
   .protest:nth-child(12) {
      background-color: #006699;
   }
   .protest:nth-child(2),
   .protest:nth-child(5),
   .protest:nth-child(8),
   .protest:nth-child(11) {
      background-color: #3399cc;
   }
   .protest:nth-child(3),
   .protest:nth-child(4),
   .protest:nth-child(9),
   .protest:nth-child(10) {
      background-color: #3399ff;
   }
   .protest {
      display: inline-block;
      color: #f2f2eb;
      width: 32.5%;
      height: auto;
      min-height: 390px;
      .columns {
         padding: 0;
         margin: 0;
      }
      .circle {
         position: absolute;
         top: 0;
         width: 45px;
         height: 45px;
         border-radius: 50%;
         line-height: 45px;
         text-align: center;
         margin: 0 10px;
         padding: 0;
         display: inline-block;
      }
      .info-1, .info-2, .info-3 {
         width: 100%;
         display: block;
         @include Helvetica;
         color: #f2f2eb;
      }
      .info-1 {
         background-color: rgba(251,251,251,0.45);
         height: 45px;
         font-size: 1em;
         line-height: 45px;
         margin: 0;
         padding: 0;
         margin-bottom: 10px;
      }
      .info-2 {
         background-color: rgba(251,251,251,0.3);
         height: 80px;
         margin-bottom: 10px;
      }
      .info-3 {
         background-color: rgba(251,251,251,0.1);
         height: 140px;
      }
   }
   .date-heading {
      @include OpenSans;
      font-size: 1.7em;
      color: #444;
      font-weight: 400;
      padding-left: 15px;
   }
}

@media (max-width: 768px) {
   .protest {
      display: inline-block;
      width: 49.5%;
   }
}
