// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin Helvetica {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 200;
}
@mixin OpenSans {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

h1 {
	@include OpenSans;
	font-size: 2em;
	color: #444;
	font-weight: 400;
}

p {
	@include OpenSans;
	font-size: 1em;
	color: #444;
}

nav {
	ul {
		list-style: none;
		li {
			display: inline-block;
			padding: 15px;
			margin: 0;
			background-color: #ccc;
			@include Helvetica;
			a {
				text-decoration: none;
				color: #333;
			}

		}
	}
}