// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin Helvetica {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 200;
}
@mixin OpenSans {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}


$orange: #f17a36;
$yellow: #ffcc00;
$green: #16b183;
$pale_blue: #14b9d5;
$dark_blue: #323a45;
$cream: #e5d6a7;

html{
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #fff;
}
body {
	margin: 0;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background-color: #333;
	border-bottom: 5px solid #ccc;
	margin: 0;
	box-shadow: 0 0 5px 0 #ccc;
	z-index: 50;

	h2#top-bar {
		@include Helvetica;
		font-size: 2.1em;
		color: $orange;
		font-weight: 600;
		line-height: 60px;
		padding-right: 10px;
		display: inline-block;
      float: right;
	}

/* ********** Menu ********** */

	nav {
		margin-left: 10px;
		display: inline-block;
		background-color: #333;

		ul {
			position: absolute;
			top: 0;
			li {
				@include Helvetica;
				color: #f2f2eb;
				padding: 0 15px;
				font-size: 0.7em;
				font-weight: 600;
				letter-spacing: 1px;
				display: inline-block;
				height: 60px;
				line-height: 60px;
				a {
					color: #f2f2eb;
					&:hover {
						color: #f2f2eb;
					}
				}
				&:hover {
					background-color: darken(#333333, 3%);
				}
			}
		}
	}
}

#yellow {
	border-top: 8px solid $yellow;
	&:hover {
		border-color: lighten($yellow, 20%);
	}
}

#green {
	border-top: 8px solid $green;
	&:hover {
		border-color: lighten($green, 20%);
	}
}
#pale_blue {
	border-top: 8px solid $pale_blue;
	&:hover {
		border-color: lighten($pale_blue, 20%);
	}
}
#orange {
	border-top: 8px solid $orange;
	&:hover {
		border-color: lighten($orange, 20%);
	}
}
#dark_blue {
	border-top: 8px solid lighten($dark_blue, 20%);
	&:hover {
		border-color: lighten($dark_blue, 40%);
	}
}

#white {
	border-top: 8px solid #e5d6a7;
	&:hover {

		border-color: lighten($cream, 10%);
	}
}


/* ********** End of Menu ********** */

 .screenshot {
 	max-width: 480px;
 }
