// Place all the styles related to the protests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin Helvetica {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 200;
}
@mixin OpenSans {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

$orange: #f17a36;
$yellow: #f3cd36;
$green: #16b183;
$pale_blue: #14b9d5;
$dark_blue: #323a45;
$cream: #e5d6a7;

$purple: #674fb1;
$red: #d54343;
$maroon: #590902;

$dark_grey: #444444;
$pale_grey: #cccccc;

#container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 60px;
	z-index: 1;


	h1 {
		@include OpenSans;
		font-size: 2em;
		color: $dark_grey;
		font-weight: 400;
		margin: 30px 0 50px 30px;
	}
	p {
		@include OpenSans;
		font-size: 1em;
		color: $dark_grey;
		margin: 15px 0;
	}
   #message {
     width: 80%;
     max-width: 768px;
     margin: 10px auto;
     display: block;
     background-color: $cream;
     border: 1px solid #333;
     text-align: center;
     p {
        margin: 10px 0;
     }
   }

.strong {
 	font-weight: bold;
 }


}

.state {
   width: 90px;
   height: 90px;
   border-radius: 50%;
   @include Helvetica;
   font-size: 2.2em;
   color: #f2f2eb;
   line-height: 90px;
   text-align: center;
   display: inline-block;
}

.act {
   background-color: $orange;
}
.nsw {
   background-color: lighten($dark_blue, 20%);
}
.nt {
   background-color: $maroon;
}
.qld {
   background-color: $red;
}
.sa {
   background-color: $green;
}
.tas {
   background-color: $pale_blue;
}
.vic {
   background-color: $yellow;
}
.wa {
   background-color: $purple;
}

ul#protest_list {
	width: 90%;
	margin: 0 auto;
	li {
	   background-color: #eee;
		margin: 20px 0;
		padding: 10px 0;
	}
}

@media all and (max-width: 320px) {
	#protest_form {
		form {
			select {
				width: 80px;
			}
		}
	}
}
