@mixin Helvetica {
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 200;
}
$red: #d54343;

/* AddThis Sharing Icons */
.addthis_sharing_toolbox {
  display: inline-block;
}
.tag {
  margin: 20px 0;
  height: 34px;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  width: 80px;
  display: inline-block;
  padding-left: 15px;

  @include Helvetica;
  font-size: 1.2em;
  color: #fff;
  &.arrow {
      background-color: $red;
      &:after {
        border-width: 17px 0 17px 17px;
      }

      &:after {
        border-color: transparent $red;
        right: -17px;
      }
    }
}
.tag:before, .tag:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
}
